
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}



<div class="row justify-content-center mb-5">
        <div class="col-sm-12 col-md-10 col-lg-8">
                        <div class="card card-body">
                                <h4 style="color: blue;"><strong>Alteração de Dados Cadastrais</strong></h4>
                                {% if errors %}  
        {% for key,value in errors.items %}
        <div class="alert alert-danger" role="alert">
              {{value.0}}
            </div>
        {% endfor %}
          {% endif %}
            <form method="POST">{% csrf_token %}
                    
                <div id="mapa"></div>
                <div class="form-row">
                        <div class="form-group col-sm-6">
                                    <input type="hidden" name="password1" maxlength="254" class="has-popover form-control" placeholder="Digite sua senha" data-placement="right" data-container="body" required id="id_password1" value="{{form.password1}}">
                                </div>
                        <div class="form-group col-sm-6">
                                    <input type="hidden" name="password2" maxlength="254" class="has-popover form-control" placeholder="Confirme sua senha" data-placement="right" data-container="body" required id="id_password2" value="{{form.password2}}">
                                </div>
                    <div class="form-group col-sm-12">
                    <label for="id_username"><strong>Usuário:</strong></label>
                        <input type="text" name="username" maxlength="254" class="has-popover form-control" placeholder="Digite um nome de usuário" data-placement="right" data-container="body" required id="id_username" value="{{form.username}}" readonly>
                    </div>
                    <div class="form-group col-sm-12">
                            <label for="id_email"><strong>Email:</strong></label>
                            <input type="text" name="email" maxlength="254" class="has-popover form-control" placeholder="Ex: aluno@usjt.br" data-placement="right" data-container="body" required id="id_email" value="{{form.email}}" required>
                    </div>
                    <div class="form-group col-sm-12">
                            <label for="id_nome"><strong>Nome:</strong></label>
                                <input type="text" name="nome" maxlength="254" class="has-popover form-control" placeholder="Digite o seu nome completo" data-placement="right" data-container="body" required id="id_nome" value="{{form.nome}}">
                            </div>
                    <div class="form-group col-sm-12">
                        <label for="id_endereco"><strong>Endereço:</strong></label>
                        <input type="text" name="endereco" maxlength="254" class="has-popover form-control" placeholder="Ex: Rua Taquari, 44 - Mooca" data-placement="right" data-container="body" required id="id_endereco" value="{{form.endereco}}">
                    </div>

                    <div class="form-group col-sm-12">
                        <label for="id_genero_0"><strong>Gênero:</strong></label>
                        
                        <div class="radio">
                            <label><input  type="radio" name="genero" value="M" required id="id_genero_0" {% if form.genero == 'M' %} checked {% endif %}> Masculino</label>
                            <label><input type="radio" name="genero" value="F" required id="id_genero_1" {% if form.genero == 'F' %} checked {% endif %}> Feminino</label>
                            <label><input type="radio" name="genero" value="O" required id="id_genero_1"{% if form.genero == 'O' %} checked {% endif %}> Outro</label>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                    <label for="id_telefone"><strong>Telefone:</strong></label>
                        <input type="tel" name="telefone" class="has-popover form-control" pattern="^\d({2})\d{1}-\d{4}-\d{4}$" placeholder="Ex: (11)99232-5522" data-placement="right" data-container="body" required id="id_telefone" value="{{form.telefone}}">
                    </div>
                    <div class="form-group col-sm-12">
                            <label for="id_rg"><strong>RG:</strong></label>
                                <input type="text" name="rg" class="has-popover form-control"  placeholder="ex: 502883770" data-placement="right" data-container="body" required id="id_rg" value="{{form.rg}}">
                    </div>
                    <div class="form-group col-sm-12">
                            <label for="id_cpf"><strong>cpf:</strong></label>
                                <input type="text" name="cpf" class="has-popover form-control"  placeholder="ex: 47747277743" data-placement="right" data-container="body" required id="id_cpf" value="{{form.cpf}}">
                    </div>
                    <div class="form-group col-sm-12">
                            <label for="id_tipo_acesso"><strong>Eu sou:</strong></label>
                            <input type="text" name="tipo_acesso" class="has-popover form-control" data-placement="right" data-container="body" required id="id_tipo_acesso" value="{{form.tipo_acesso}}" readonly>
                    </div>
                </div>
                <div class="form-row mt-4">
                    <div class="col-sm-3">
                    <button type="submit" onclick="return confirm_click();" class="form-control btn btn-primary">Salvar</button>
                </div>
                <div class="col-sm-3">
                        <button href="{% url 'perfil' %}" class="form-control btn btn-danger">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


    <!-- jQuery (necessario para os plugins Javascript do Bootstrap) -->
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.1.3/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var acesso = $("#id_tipo_acesso").val()
            var genero = $("#id_genero").val()
            switch(acesso){
                case 'P':
                $('#id_tipo_acesso').val("Proprietário")
                case 'E':
                $('#id_tipo_acesso').val("Estudante")
            }
        });


        function confirm_click(){
            return confirm("Tem certeza que deseja alterar seus dados?");
            if(confirm == true){
                return ("Dados Alterados com Sucessoz");
            }
        }
        </script>

{% endblock %}

