{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="row justify-content-center mb-5">
        <div class="col-sm-12 col-md-10 col-lg-8">
                        <div class="card card-body">
                                <h4 style="color: blue;"><strong>Busca por Filtros</strong></h4>
            <form method="POST">{% csrf_token %}
                <div id="mapa"></div>
                <div class="form-row">
                    <div class="form-group col-sm-12">
                        <input type="hidden" name="latitude" maxlength="254" class="form-control" id="id_latitude">
                        <input type="hidden" name="longitude" maxlength="254" class="form-control" id="id_longitude">
                        <input type="hidden" name="owner" maxlength="254" class="form-control" id="id_owner">
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="id_endereco"><strong>Endereço:</strong></label>
                        <input type="text" name="endereco" maxlength="254" class="has-popover form-control" placeholder="Ex: Rua Taquari, 44 - Mooca" data-placement="right" data-container="body" id="id_endereco" autocomplete="off">
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="id_qtd_vagas"><strong>Quantidade de vagas:</strong></label>
                        <input type="number" name="qtd_vagas" class="has-popover form-control" placeholder="Quantidade total de vagas" data-placement="right" data-container="body" id="id_qtd_vagas">
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="id_tipo_imovel_0"><strong>Tipo imovel:</strong></label>
                        <div class="radio">
                            <label><input  type="radio" name="tipo_imovel" value="CS" id="id_tipo_imovel_0"> Casa</label>
                            <label><input type="radio" name="tipo_imovel" value="AP" id="id_tipo_imovel_1"> Apartamento</label>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="id_genero"><strong>Gênero Aceito:</strong></label>
                        <select name="genero" class="form-control" id="id_genero">
                            <option value="" selected="">Selecione um Gênero</option>
                          
                            <option value="M">Masculino</option>
                          
                            <option value="F">Feminino</option>
                          
                            <option value="A">Ambos</option>
                          
                          </select>
                    </div>
                    <div class="form-group col-sm-12">
                    <label for="id_valor"><strong>Valor:</strong></label>
                        <input type="range" class="has-popover form-control" min=1 max=5000 data-container="body" id="id_valor" list="valores" onchange="updateTextInput(this.value);">
                        <datalist id="valores">{% for r in range %}<option value="{{r}}" label="R$ {{r}}"></option>{% endfor %}</datalist>
                        <input type="text" id="textInput" name="valor">
                    </div>
                </div>
                <div class="form-row mt-4">
                    <div class="col-sm-3">
                    <button type="submit" class="form-control btn btn-primary mb-3">Buscar</button>
                </div>
                <div class="col-sm-3">
                        <a href="{% url 'perfil' %}" class="form-control btn btn-danger">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
    <!-- Maps API Javascript -->
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyASfM8yMN_z1DVkTFFAKRp1aigtWxjOi6U&libraries=places"></script>
    <script src="{% static 'js/mapa.js' %}"></script>
    <!-- jQuery (necessario para os plugins Javascript do Bootstrap) -->
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.1.3/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.8.2.custom.min.js' %}"></script>
    <script type="text/javascript">
        function updateTextInput(val) {
            document.getElementById('textInput').value="R$ " + val + ",00"; 
          }
  
    </script>
   {% endblock %}