{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="row">
    <div class="col-12 text-center">
        <h1 class="display-4"> Cadastro de República</h1>  
    </div>
</div>
<div class="row justify-content-center">
<div class="col-md-8 justify-content-center">
<div style="border-radius: 1%; background-color:whitesmoke;" class="row justify-content-center">
    <div class="col-sm-12 col-md-10 col-lg-8">
            <form method="POST">{% csrf_token %}
                <div id="mapa"></div>
                <div class="form-row">
                    <div class="form-group col-sm-12">
                        <input type="hidden" name="latitude" maxlength="254" class="form-control" id="id_latitude">
                        <input type="hidden" name="longitude" maxlength="254" class="form-control" id="id_longitude">
                    </div>
                    <div class="form-group col-sm-12">
                    <label for="id_nome">Nome:</label>
                        <input type="text" name="nome" maxlength="254" class="has-popover form-control" placeholder="Digite o nome da república" data-placement="right" data-container="body" required id="id_nome">
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="id_endereco">Endereço:</label>
                        <input type="text" name="endereco" maxlength="254" class="has-popover form-control" placeholder="Ex: Rua Taquari, 44 - Mooca" data-placement="right" data-container="body" required id="id_endereco" autocomplete="off">
                    </div>
                    <div class="form-group col-sm-12">
                            <label for="id_email">Email:</label>
                            <input type="text" name="email" maxlength="254" class="has-popover form-control" placeholder="Ex: aluno@usjt.br" data-placement="right" data-container="body" required id="id_email" required>
                        </div>
                    <div class="form-group col-sm-4">
                        <label for="id_qtd_vagas">Quantidade de vagas:</label>
                        <input type="number" name="qtd_vagas" class="has-popover form-control" placeholder="Quantidade total de vagas" data-placement="right" data-container="body" required id="id_qtd_vagas">
                    </div>
                    <div class="form-group col-sm-6 text-center">
                        <label for="id_tipo_imovel_0">Tipo imovel:</label>
                        <div class="radio">
                            <label><input  type="radio" name="tipo_imovel" value="CS" required id="id_tipo_imovel_0"> Casa</label>
                            <label><input type="radio" name="tipo_imovel" value="AP" required id="id_tipo_imovel_1"> Apartamento</label>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                    <label for="id_estado">Estado:</label>
                    {{form.estado}}
                    </div>
                    <div class="form-group col-sm-6">
                    <label for="id_cidade">Cidade:</label>
                        <input type="text" name="cidade" maxlength="254" class="has-popover form-control" placeholder="Ex: São Paulo, São Caetano do Sul ..." data-placement="right" data-container="body" required id="id_cidade">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="id_genero">Gênero Aceito:</label>
                        {{form.genero}}
                    </div>
                    <div class="form-group col-sm-6">
                    <label for="id_valor">Valor:</label>
                        <input type="number" namew="valor" class="has-popover form-control" placeholder="0.00" step="any" min="1" data-placement="right" data-container="body" required id="id_valor">
                    </div>
                </div>
                <div class="form-row mt-4">
                    <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary mb-3">Cadastrar</button>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
    <!-- Maps API Javascript -->
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyASfM8yMN_z1DVkTFFAKRp1aigtWxjOi6U&libraries=places"></script>
    <script src="{% static 'js/mapa.js' %}"></script>
    <!-- jQuery (necessario para os plugins Javascript do Bootstrap) -->
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.1.3/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.8.2.custom.min.js' %}"></script>
    <script src="https://igorescobar.github.io/jQuery-Mask-Plugin/js/jquery.mask.min.js"></script>
    <script type="text/javascript">
        $('#id_valor').mask('#.##0,00', {reverse: true});
        
        </script>
   {% endblock %}
