{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

        <div class="row">  
                <div class='col-md-2'></div>
                <div class="col-md-8">
                        <div class="mapa" id="mapa" style="border-radius:1%;"></div>
                </div>
                <div class='col-md-2'></div>
        </div>
        <div class="row">
                <div class="col-md-8">
                {% for republica in republicas %}
                <section>
                nome : {{republica.nome}}<br/>
                endereco:      {{republica.endereco}}<br/>
                estado:         {{republica.estado}}<br/>
                genero:        {{republica.genero}}<br/>
                qtd_vagas:       {{republica.qtd_vagas}}<br/>
                tipo_imovel:        {{republica.tipo_imovel}}<br/>
        </section>

                {% endfor %}
                
                </div>
        </div>

    <!-- Maps API Javascript -->
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyASfM8yMN_z1DVkTFFAKRp1aigtWxjOi6U"></script>
    <script src="{% static 'js/mapa.js' %}"></script>
    <!-- jQuery (necessario para os plugins Javascript do Bootstrap) -->
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.1.3/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript">

 

        function carregarPontos() {
 
                $.getJSON("{% static 'json/pontos.json' %}", function(pontos) {
                console.log(pontos)
                    $.each(pontos, function(index, ponto) {
             
                        var marker = new google.maps.Marker({
                            position: new google.maps.LatLng(ponto.Latitude, ponto.Longitude),
                            title: '',
                            map: map
                        });
             
                    });
             
                });
             
            }
            carregarPontos();

            $(window).resize(function(){ 
                $('#mapa').height($( window ).height());
        </script>
   {% endblock %}
