{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="row">
    <div class="col-xs-12">
       Linha com 12 colunas em qualquer dispositivo
    </div>
 </div>

<form id="formlocal" method="POST" action="{% url 'estudante' %}">
 <div class="row">
    <div class="col-md-6 col-sm-12">
       <a type="button" href="{% url 'minhas-republicas' %}" class="btn btn-light" style="float: right;">Proprietário</a>
    </div>
    <div class="col-md-6 col-sm-12">
        <button type="submit" id="estudante" class="btn btn-light" style="float: left;">Estudante</button>
     </div>
     <input type="hidden" name="latitude" id="lati" value="">
     <input type="hidden"  name="longitude" id="longi" value="">
 </div>
</form>
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript">


function getLocation()
  {
    console.log('lala');
      var lat = $("#latitude").val();
      var lng = $("#longitude").val();
      $('#lati').val(lat);
      $('#longi').val(lng);
    }
window.onload = getLocation();
var form = $('#formlocal');
form.submit(function(){
  if (form[0][1].value == ""){
    alert("Por favor retorne e ative a localização.");
    window.location.reload();
    return false
  }
$.ajax({
    type: 'POST',
    url: form.attr('action'),
    data: form.serialize(),
    success: function (data) {
      console.log(data)
    }
  });
});


  </script>
{% endblock %}

