{% extends "base.html" %}
{% load staticfiles %}
{% block content %}


<form id="formlocal" method="POST" action="{% url 'estudante' %}">
  <div class="row" style="margin-bottom: 239px; margin-top: 90px;">

    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
        <a type="button" id="btnProprietario" href="{% url 'minhas-republicas' %}" class="btn btn-primary btn-lg btn-block">Locador</a>
        <button type="submit" id="estudante" class="btn btn-secondary btn-lg btn-block" >Estudante</button>
       
        </div>
        
      </div>
        
     <input type="hidden" name="latitude" id="lati" value="">
     <input type="hidden"  name="longitude" id="longi" value="">
     </div>
     </div>
     
    </div>
    </form>
  

 <!-- Maps API Javascript -->
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyBTIH8LZSgDNADi4UXX_pqI-RPmgCGEVvc    "></script>
    <!-- jQuery (necessario para os plugins Javascript do Bootstrap) -->
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.1.3/dist/js/bootstrap.min.js' %}"></script>
<script type="text/javascript">
  function getLocation()
  {
  if (navigator.geolocation)
    {
     navigator.geolocation.getCurrentPosition(showPosition);
     
    }
  else{
    x.innerHTML="O seu navegador não suporta Geolocalização.";}
  }
function showPosition(position)
  {
  $('#lati').val(position.coords.latitude);
  $('#longi').val(position.coords.longitude);
  }
window.onload = getLocation;
window.onload = getLocation();
var form = $('#formlocal');
form.submit(function(){
  if (form[0][1].value == ""){
    alert("Por favor retorne e ative a localização.");
    window.location.reload();
    return false
  }
$.ajax({
    type: 'POST',
    url: form.attr('action'),
    data: form.serialize(),
    success: function (data) {
      console.log(data)
    }
  });
});
$("#btnProprietario").on('click',function(){
{% if user.tipo_acesso == "E" %}
  alert("Esta àrea é destinada somente a proprietários de imóveis.")
  window.location.reload();
{% endif %}
{% if user.is_authenticated == False %}
  alert("Por favor, efetue o login ou cadastre-se para acessar esta area do site.")
{% endif %}
});
  </script>
{% endblock %}
