{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container">
<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
              <div class="card card-signin my-5">
                <div class="card-body">
                  <h5 class="card-title text-center">Login</h5>
                  <form method="POST" class="form-signin"> {% csrf_token %}
                    <div class="form-label-group">
                        <label for="inputEmail">Endereço de e-mail</label>
                      <input type="text" name="username" id="inputEmail" class="form-control" placeholder="Email">
                    </div>
    
                    <div class="form-label-group">
                        <label for="inputPassword">Senha</label>
                      <input type="password" name="password1" id="id_password1" class="form-control" placeholder="Senha">
                    </div>
    
                    <div class="custom-control custom-checkbox mb-3">
                      <input type="checkbox" class="custom-control-input" id="customCheck1">
                      <label class="custom-control-label" for="customCheck1">Lembrar senha</label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Registre-se</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2" style="padding-top: 19px;"></div>
         
      {% endblock %}



