{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="row">
    <div class="col-12 text-center">
        <h1 class="display-4">Tirar Dúvidas </h1>  
    </div>
</div>
<div class="row justify-content-center">
<div class="col-md-8 justify-content-center">
    <div  style="border-radius: 1%;" class="row justify-content-center">     
        <div class="col-sm-12 col-md-10 col-lg-8">
            <div class="card card-signin my-5">
                <div class="card-body">
                    {% if mensagens %}
                        {% for mensagem in mensagens %}
                            <div class="div-arredondada" style="align:right;">
                                <label>De: {{ mensagem.usuario_pergunta }}</label><br>
                                <label>Quando: {{mensagem.pergunta_datetime }}</label>
                                <p>Pergunta: {{ mensagem.pergunta|linebreaks }}</p>

                                {% if mensagem.resposta %}
                                    <label>Quando: {{mensagem.resposta_datetime }}</label>
                                    <p>Resposta: {{ mensagem.resposta|linebreaks }}</p>
                                {% elif request.user.tipo_acesso == 'P' %}
                                    <form action="{% url 'mensagens-republica' republica.id mensagem.id %}" method="POST">
                                        {% csrf_token %}
                                        <label>Resposta:</label>
                                        <textarea name="mensagem" cols="40" rows="1" class="has-popover form-control" placeholder="Digite a Resposta" data-placement="right" data-container="body" id="id_mensagem"></textarea>
                                        <div class="form-row mt-4">
                                            <div class="col-sm-12">
                                                <button type="submit" name="proprietario" class="btn btn-primary mb-3">Enviar</button>
                                            </div>
                                        </div>
                                    </form>
                                {% endif %}
                            </div>
                            <hr>
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-danger alert-dismissable">
                            <i class="fa fa-times-circle"></i>
                            <strong>Atenção!</strong> Não há nenhuma mensagem
                        </div>   
                    {% endif %}
                 
                            
                            {% if request.user.tipo_acesso == 'E' %}
                            <form action="{% url 'mensagens-republica' republica.id %}" method="POST">
                                {% csrf_token %}
                                <textarea name="mensagem" cols="40" rows="1" class="has-popover form-control" placeholder="Digite uma mensagem" data-placement="right" data-container="body" id="id_mensagem"></textarea>
                                <div class="form-row mt-4">
                                    <div class="col-sm-12">
                                        <button type="submit" name="estudante" class="btn btn-primary mb-3">Enviar</button>
                                    </div>
                                </div>
                            </form>
                            {% endif %}

                        
                    </div>
                </div>
            </div>
    </div>
    
    
</div>
</div>
    
    
    <!-- jQuery (necessario para os plugins Javascript do Bootstrap) -->
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.1.3/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.8.2.custom.min.js' %}"></script>
    <script type="text/javascript">
        aparecer();
        function aparecer(){
          $('#recolher').show();
          $('#botao').click(function(){
             $('#recolher').slideToggle();
           });
        }
    </script>
   {% endblock %}
