{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="row justify-content-center" style="margin-bottom: 99px">
        <div class="col-sm-12 col-md-10 col-lg-8">
                        <div class="card card-body">
                                <h4 style="color: blue;"><strong>Minhas Republicas</strong></h4>

                    
    {% if republicas %}


            {% for republica in republicas %}
                <div class="col-md-12 mb-2 mt-2 ml-2 mr-2" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                                                                            0 6px 20px 0 rgba(0, 4, 0, 1);">
                  
                    <label><strong>Nome da república:</strong></label>
                    <a href="{% url 'perfil-republica' republica.id %}">
                        {{republica.nome}}
                    </a><br/>
                    <label><strong>Gênero aceito:</strong></label>
                    {% if republica.genero == "F" %} Feminino <br/>{% endif %}
                    {% if republica.genero == "M" %} Masculino <br/>{% endif %}
                    {% if republica.genero == "A" %} Ambos <br/>{% endif %}
                    <label><strong>Quantidade de vagas:</strong></label>
                    {{republica.qtd_vagas}}<br/>
                    <label><strong>Tipo do imóvel:</strong></label>
                    {% if republica.tipo_imovel == 'AP'%} Apartamento {% else %} Casa {% endif %}<br/>
                    <label><strong>Valor:</strong></label><br/>
                    {{republica.valor}}<br/>
                    <a type="button" class="btn btn-primary" href="{% url 'mensagens-republica' republica.id %}" style="float:left">Mensagens</a>
                </div> 
                              
            {% endfor %}
            <div class="form-row mt-4">
                
                    <div class="col-sm-3">
            <a href="{% url 'cadastrar-republica' %}" class="form-control btn btn-primary">Cadastrar República</a>
            </div>
            <div class="col-sm-3">
                    <a href="{% url 'perfil' %}" class="form-control btn btn-danger mb-3">Cancelar</a>
                </div>
        </div>
    {% endif %}   

</div>
</div>
</div>
    <!-- Maps API Javascript -->
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyASfM8yMN_z1DVkTFFAKRp1aigtWxjOi6U&libraries=places"></script>
    <script src="{% static 'js/mapa.js' %}"></script>
    <!-- jQuery (necessario para os plugins Javascript do Bootstrap) -->
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.1.3/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.8.2.custom.min.js' %}"></script>
    <script src="https://igorescobar.github.io/jQuery-Mask-Plugin/js/jquery.mask.min.js"></script>
    <script type="text/javascript">
        $()        
        </script>
   {% endblock %}