
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
{%for p in perfil%}
<div class="row">
    <div class="col-12 text-center">
        <h1 class="display-4">{{p.nome}}</h1>  
    </div>
</div>

<div class="row justify-content-center mb-5">
    <div class="col-sm-12 col-md-10 col-lg-8">
        <div id="mapa"></div>
        {% if user.tipo_acesso == "E" %}
        <div class="form-row">
            <div class="form-group col-sm-12">
                <label for="id_nome">Nome da República:</label>
                <input type="text" name="nome" maxlength="254" class="has-popover form-control" placeholder="Digite o seu nome completo" data-placement="right" data-container="body" required id="id_nome" value='{{p.nome}}' readonly>
            </div>
            <div class="form-group col-sm-12">
                    <label for="id_email">Email da República:</label>
                    <input type="text" name="email" maxlength="254" class="has-popover form-control" placeholder="Ex: aluno@usjt.br" data-placement="right" data-container="body" required id="id_email" value="{{p.email}}"required readonly>
            </div>
            <div class="form-group col-sm-12">
                <label for="id_endereco">Endereço:</label>
                <input type="text" name="endereco" maxlength="254" class="has-popover form-control" placeholder="Ex: Rua Taquari, 44 - Mooca" data-placement="right" data-container="body" required id="id_endereco" value="{{p.endereco}}" readonly>
            </div>

            <div class="form-group col-sm-6 text-center">
                <label for="id_genero_0">Gênero:</label>
                <input type="text" name="genero" class="has-popover form-control" data-placement="right" data-container="body" required id="id_genero" value="{{p.genero}}" readonly>
            </div>
            <div class="form-group col-sm-6">
            <label for="id_qtd_vagas">Quantidade de Vagas:</label>
            <input type="text" name="qtd_vagas" class="has-popover form-control" data-placement="right" data-container="body" required id="id_qtd_vagas" value="{{p.qtd_vagas}}" readonly>
            </div>
            <div class="form-group col-sm-6">
            <label for="id_tipo_imovel">Tipo de Imóvel:</label>
                <input type="text" name="id_tipo_imovel" maxlength="254" class="has-popover form-control" placeholder="Ex: São Paulo, São Caetano do Sul ..." data-placement="right" data-container="body" required id="id_tipo_imovel" value="{% if p.tipo_imovel == 'AP'%} Apartamento {% else %} Casa {% endif %}" readonly>
            </div>
            <div class="form-group col-sm-6">
            <label for="id_valor">Valor:</label>
                <input type="text" name="valor" class="has-popover form-control" data-placement="right" data-container="body" required id="id_valor" value="{{p.valor}}" readonly>
            </div>
        </div>
        {% else %}
        <form method="POST">
        <div class="form-row">
                <div class="form-group col-sm-12">
                    <label for="id_nome">Nome da República:</label>
                    <input type="text" name="nome" maxlength="254" class="has-popover form-control" placeholder="Digite o seu nome completo" data-placement="right" data-container="body" required id="id_nome" value='{{p.nome}}' >
                </div>
                <div class="form-group col-sm-12">
                        <label for="id_email">Email da República:</label>
                        <input type="text" name="email" maxlength="254" class="has-popover form-control" placeholder="Ex: aluno@usjt.br" data-placement="right" data-container="body" required id="id_email" value="{{p.email}}"required >
                </div>
                <div class="form-group col-sm-12">
                    <label for="id_endereco">Endereço:</label>
                    <input type="text" name="endereco" maxlength="254" class="has-popover form-control" placeholder="Ex: Rua Taquari, 44 - Mooca" data-placement="right" data-container="body" required id="id_endereco" value="{{p.endereco}}" >
                </div>
    
                <div class="form-group col-sm-6 text-center">
                    <label for="id_genero_0">Gênero:</label>
                    <input type="text" name="genero" class="has-popover form-control" data-placement="right" data-container="body" required id="id_genero" value="{{p.genero}}" >
                </div>
                <div class="form-group col-sm-6">
                <label for="id_qtd_vagas">Quantidade de Vagas:</label>
                <input type="text" name="qtd_vagas" class="has-popover form-control" data-placement="right" data-container="body" required id="id_qtd_vagas" value="{{p.qtd_vagas}}" >
                </div>
                <div class="form-group col-sm-6">
                <label for="id_tipo_imovel">Tipo de Imóvel:</label>
                    <input type="text" name="id_tipo_imovel" maxlength="254" class="has-popover form-control" placeholder="Ex: São Paulo, São Caetano do Sul ..." data-placement="right" data-container="body" required id="id_tipo_imovel" value="{% if p.tipo_imovel == 'AP'%} Apartamento {% else %} Casa {% endif %}" >
                </div>
                <div class="form-group col-sm-6">
                <label for="id_valor">Valor:</label>
                    <input type="text" name="valor" class="has-popover form-control" data-placement="right" data-container="body" required id="id_valor" value="{{p.valor}}" >
                </div>
            </div>
        {% endif %}
        <div class="form-row mt-4">
            {% if acesso == 'P' %}
            <div class="col-sm-3">
                <button type="submit" class="form-control btn btn-primary">Alterar Dados</a>
                </div>
                
                    <div class="col-sm-3">
                        <a id="id_excluir_republica" onclick="return confirm_click();" type="button" href="{% url 'excluir-republica' p.id %}" class="form-control btn btn-danger">Excluir República</a>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% if user.is_authenticated %}
    {% if user.tipo_acesso == 'P' %}    

        <div class="modal fade" id="modal-mensagem">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                
                                <h4 class="modal-title">Mensagens</h4>
                                <button  type="button" class="close" data-dismiss="modal"><span>×</span></button>
                            </div>
                            <div class="modal-body">
                                <div class="mensagem ml-2 mt-2 mb-2 mr-2">
                                    {% for msg in p.mensagem %}
                                    <p class="ml-2 mt-3 mb-2 mr-2">
                                        {{p}}
                                    </p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="modal-footer">
                            <form method="POST"> {% csrf_token %}<input class="form-control"><button class="btn btn-primary" type="submit">Enviar</button></form>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" id="menu_flutuante" data-toggle="modal" data-target="#modal-mensagem">Exibir mensagem</button>
    {% endif %}
{% endif %}
{%endfor%}
<!-- jQuery (necessario para os plugins Javascript do Bootstrap) -->
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.1.3/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var tipo_imovel = $("#id_tipo_imovel").val()
            if(tipo_imovel == 'AP'){
                $('#id_tipo_imovel').val("Apartamento")
            }
            else{
                $('#id_tipo_imovel').val("Casa")
            }
        });
        function confirm_click(){
            return confirm("Tem certeza que deseja excluir sua conta?");
        }
    </script>

{% endblock %}
