


  body { 
    background: url("../images/Fundo-min.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
    }

    /* nav-bar */
    .navbar{
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: .5rem 1rem;
        background-color: #4285f4;
    }

    .card-body {
        border:solid 1px;
        box-shadow: 10px 10px 10px 5px black;
    }

    .card-login{
        width: 250px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
    }

    .mb-5, .my-5 {
        margin-bottom: 0rem !important;
        margin-top: 1rem !important;
    }

    .title{
        color: blue;
        font-style:oblique;
    }

    /* Footer */
    .footer {
    background-color: #4285f4;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    }
    .fab{
        color: blanchedalmond!important;
    }
    .fa{
        color: blanchedalmond!important;
    }
     /* Footer */
    .div-arredondada {
        background:lightblue;
         
        -moz-border-radius:2%;
        -webkit-border-radius:2%;
         border-radius:2%;
        }
        .mensagem {
             
            -moz-border-radius:3%;
            -webkit-border-radius:3%;
             border-radius:3%;
            }

        .map-responsive{
          overflow:hidden;
          padding-bottom:56.25%;
          position:relative;
          height:0;
          border-radius:3%;
      }
      .map-responsive iframe{
          left:0;
          top:0;
          height:100%;
          width:100%;
          position:absolute;
      }
      
      #menu_flutuante{
        position:fixed;
        _position:absolute;
        bottom:0;
        _top:expression(eval(document.body.scrollTop));
        left:0px;
        width:30%;
        font-size:20px;
        border-bottom:1px solid #FFFFFF;
        }
        
        a[type="submit"] {
            -webkit-appearance: none;
        }


        .responsive {
            width: 100%;
            height: auto;
        }
